:root {
    font-size: 20px;
}

html {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    position: relative;
    z-index: 1;
    color: #000C70;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/background2.jfif');
    background-size: cover;
    z-index: -2;
    opacity: 0.3;
}

body::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( 0deg, darkcyan, white );
    z-index: -1;
    opacity: 0.5;
}

h1{
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
    border-bottom: solid;
}

span {
    margin: 0 0.2em 0 0;  

}

p {
    font-size: 1em;
}

/*----------------------------------------------------*/

header {
    color: #000C70;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
    box-shadow: 0px -10px 50px 0px blue;
}

header::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(white, blue) ;
    z-index: -1;
    opacity: 0.5;
}

#grid-wrapper {
    display: grid;
    /* padding: 1em; */
}

aside {
    padding: 1em;
}

#query {
    background-color: rgb(232, 232, 232);
}

.saved-city {
    color: rgb(213, 213, 213);
    margin: 1em 0;
    width: 8em;
    border-radius: 0.5em;
    border: solid black;
    text-align: center;
    padding: 0.2em;
    position: relative;
    z-index: 1;
}

.saved-city::before{
    position: absolute;
    content: "";
    background-color: darkblue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
    transition: all 0.25s;
}

.saved-city:hover::before {
    background-color: rgb(0, 0, 196);
}

.saved-city:active::before {
    background-color: rgb(14, 136, 218);
}

#city-name {
    /* margin: 0 0.2em 0 0;   */
    font-size: 1.3em;
    color: #0214A8 ;
    border-bottom: solid #0214A8;
    /* padding: 0.1em 0.1em 0.1em 0.3em;
    border-radius: 0.3em;
    box-shadow: 0px 0px 20px -5px darkblue, inset 0px 0px 20px -15px darkblue; */

}

#current-date{
    margin-top:-0.8em;
}

#current-icon {
    display: inline;
    position: relative;
    top: 0.5em;
    width: 5%;
    height: 5%;
    background: radial-gradient(darkcyan,rgb(255,255,255,0) 70%);
    border-radius: 5em;
}

#current-uvi {
    padding: 0.2em 0.7em;
    font-size: 0.9em;
    border-radius: 0.3em;
    border: 1px solid darkblue;
}

#weather-info {
    margin-bottom: 1.5em;
    border-bottom: solid darkblue;
    padding-bottom: 2em;
}

.forecast-card {
    padding: 0.7em;
    position: relative;
    z-index: 1;
    margin: 1em;
    border-radius: 0.6em;
    border: solid darkblue;
}

.forecast-card::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkcyan;
    /* border-radius: 0.2em; */
    z-index: -1;
    opacity: 0.5;
}

/*----------------------------------------------------*/

@media screen and (min-width: 800px) {
    #grid-wrapper {
        grid-template-columns: 1fr 3fr;
    }

    #forecast-card-wrapper {
        display: flex;
        flex-direction: row;
    }
}